[submodule "s1/ai/homework2/pddl-examples"]
	path = s1/ai/homework2/pddl-examples
	url = https://github.com/yarox/pddl-examples
[submodule "s1/ai/prolog/TAOP-Exercises"]
	path = s1/ai/prolog/TAOP-Exercises
	url = https://github.com/konn/TAOP-Exercises/
